:root {
  --primary-red: hsl(0, 100%, 67%);
  --primary-orange: hsl(39, 100%, 56%);
  --primary-green: hsl(166, 100%, 37%);
  --primary-blue: hsl(234, 85%, 45%);
  --gradient-slate-blue: hsl(252, 100%, 67%);
  --gradient-royal-blue: hsl(241, 81%, 54%);
  --gradient-circle-violet-blue: hsla(256, 72%, 46%, 1);
  --gradient-circle-persian-blue: hsla(241, 72%, 46%, 0);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-blue: hsl(221, 100%, 96%);
  --neutral-lavender: hsl(241, 100%, 89%);
  --neutral-dark-blue: hsl(224, 30%, 27%);
}
@font-face {
  font-family: "HankenGrotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
ul[role='list'], ol[role='list'] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
input, button, textarea, select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
/* css reset end */
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: HankenGrotesk;
}
.light-grey {
  color: var(--neutral-lavender);
}
.card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}
/* result section */
.result-container {
  background: linear-gradient(var(--gradient-slate-blue) 20%, var(--gradient-royal-blue)); 
  color: var(--neutral-white);
  padding: 2rem;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.result-container-inner {
  text-align: center;
}
.result-title {
  font-size: large;
  font-weight: 500;
  padding-bottom: 1rem;
}

/* circle div section */

.circle-result-div {
  margin: 1rem auto;
  padding: 1rem auto; 
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  background: linear-gradient(var(--gradient-circle-violet-blue) 60%, var(--gradient-circle-persian-blue));
}
.circle-result-div h2 {
  font-size: 3.5rem;
  font-weight: 800;
  padding-top: 1rem;
}
.circle-result-div p {
  font-size: smaller;
}

/* circle result section end */

.result-container h3 {
  font-size: x-large;
  padding: 0.3rem 0;
  margin-bottom: 0.7rem;
}
.result-statement {
  padding: 0.3rem 2rem;
}

/* summary section */

.summary-container {
  margin: 1.5rem;
}
.summary-title {
  font-size: larger;
  margin-top: 0.7rem;
  color: var(--neutral-dark-blue);
}
.summary-items-content {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  margin: 1rem 0;
  font-weight: 700;
  padding: 0.7rem;
  border-radius: 10px;
}
.summary-items-content img {
  display: inline-block;
  position: relative;
  transform: translateY(0.3rem);
}
.red {
  color: var(--primary-red);
  background-color: hsla(0, 100%, 67%, 0.1);
}
.orange {
  color: var(--primary-orange);
  background-color: hsla(39, 100%, 56%, 0.1);
}
.teal {
  color: var(--primary-green);
  background-color: hsla(166, 100%, 37%, 0.1);
}
.blue {
  color: var(--primary-blue);
  background-color: hsla(234, 85%, 45%, 0.1);
}
.score {
  color: var(--neutral-dark-blue);
}

/* button */

button {
  color: var(--neutral-white);
  background-color: var(--neutral-dark-blue);
  text-align: center;
  margin: 1.2rem 0;
  padding: 0.9rem;
  font-weight: 700;
  border-radius: 20px;
  border-style: none;
  width: 100%;
}
button:hover {
  cursor: pointer;
  background: linear-gradient(var(--gradient-slate-blue), var(--gradient-royal-blue));
}

/* attribution */

.attribution {
   font-size: 11px;
   text-align: center; 
   margin: 1rem auto;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}

/* media queries  */

@media (min-width: 60rem) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    box-shadow: 0px 3px 10px hsla(0, 0%, 0%, 0.2);
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 55%;
    margin: auto;
    border-radius: 30px;
  }
  .result-container {
    border-radius: 30px;
  }
  button {
    padding: 0.7rem 7rem;
  }
}